:root{
    --green:#4CAF50;
    --green-dark:#45a049;
    --red:#af4c4c;
    --red-dark:#963b3b;
    --gray:#a3a1a1;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    padding:10px 15px;
    border:none;
    background:var(--green);
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:var(--green-dark);
}

ol{
    padding:0;
    margin-top:20px;
}

li{
    padding:10px;
    border-bottom:1px solid #eee;

    display:flex;
    align-items:center;
    gap:10px;
}

.text-align{
    flex:1;
}

.remove-btn{
    background:var(--red);
}

.remove-btn:hover{
    background:var(--red-dark);
}

.check-btn{
    padding:8px 12px;
    background:var(--gray);
    border-radius:20px;
}

.check-btn:hover{
    background:var(--green);
}

.completed{
    text-decoration: line-through;
    opacity:0.7;
}

.completed-btn{
    background:var(--green);
}

p{
    margin-bottom: 3px;
    border:none;
    color:rgb(167, 157, 157);
    border-radius:5px;
}

